{
    "summary": {
        "default":  {
            "model_name": "facebook/bart-large-cnn",
            "generation_config": {
                "max_length": 140,
                "min_length": 30
            }
        }
    },
    "translation": {
        "model_name": "facebook/nllb-200-distilled-600M",
        "generation_config": {
            "max_length": 200
        }
    }
}
