[agent]
# The `cosmian_vm_agent` listens on that host
host = "0.0.0.0"
# The `cosmian_vm_agent` listens on that port
port = 5355
# The location of the SSL certificate used to communicate with the `cosmian_vm_agent`
# It is recommended to put that file inside an encrypted filesystem
# If the path is relative, the location path will be joined with '/var/lib/cosmian_vm/'
ssl_certificate = "data/cert.pem"
# The location of the SSL private key used to communicate with the `cosmian_vm_agent`
# It is recommended to put that file inside an encrypted filesystem
# If the path is relative, the location path will be joined with '/var/lib/cosmian_vm/'
ssl_private_key = "data/key.pem"
# The TPM device path
tpm_device = "/dev/tpmrm0"
