---

# tasks file for upgrade

- name: Gathering facts
  ansible.builtin.gather_facts:

- name: Update and upgrade apt packages
  when: ansible_distribution == 'Ubuntu'
  block:
    - name: Update and upgrade apt packages
      ansible.builtin.apt:
        update_cache: true
        only_upgrade: true
        upgrade: safe
      tags: ubuntu

- name: Upgrade all packages (dnf)
  when: ansible_distribution == 'RedHat'
  block:
    - name: Upgrade all packages (dnf)
      ansible.builtin.dnf:
        name: "*"
        state: latest

- name: Upgrade all packages
  when: ansible_distribution == 'RedHat'
  block:
    - name: Install required packages
      ansible.builtin.dnf:
        name:
          - python-firewall
          - firewalld
          - policycoreutils-python-utils
          - selinux-policy
          - kernel
          - kernel-devel
          - kernel-headers
        state: present
        update_cache: true

    - name: Update security packages
      ansible.builtin.dnf:
        security: true
        state: latest
        update_only: true

    - name: Display security available patches
      ansible.builtin.shell:
        cmd: |
          dnf updateinfo list security
      register: upgrade_dnf_security_update
      changed_when: upgrade_dnf_security_update.rc != 0

    - name: Display Security updates
      ansible.builtin.debug:
        var: upgrade_dnf_security_update

- name: Tasks for Azure platform (Security Check Failure)
  when: ansible_distribution == 'RedHat' and ansible_facts['bios_vendor'] == 'Microsoft Corporation'
  tags: shim
  block:
    - name: Get installed version of shim-x64
      ansible.builtin.package_facts:
        manager: auto
      register: upgrade_installed_packages

    - name: Debug installed shim-x64 version
      ansible.builtin.debug:
        msg: "Installed shim-x64 version: {{ upgrade_installed_packages['ansible_facts']['packages']['shim-x64'][0]['version'] }}"

    - name: Conditionally update shim-x64
      ansible.builtin.dnf:
        name: shim-x64
        state: latest
        update_only: true
        disable_plugin: ["*"]
      when: upgrade_installed_packages['ansible_facts']['packages']['shim-x64'][0]['version'] is version('15.8', '<')
      register: upgrade_yum_update
      ignore_errors: true

    - name: Verify shim-x64 version after update
      ansible.builtin.package_facts:
        manager: auto
      register: upgrade_updated_packages

    - name: Debug shim-x64 version after update
      ansible.builtin.debug:
        msg: "shim-x64 version after update: {{ upgrade_updated_packages['ansible_facts']['packages']['shim-x64'][0]['version'] }}"
