---
# tasks file for ansible/roles/tpm

- name: Check OS distribution
  ansible.builtin.debug:
    var: ansible_distribution

- name: TPM packages installation on Ubuntu
  when: ansible_distribution == 'Ubuntu'
  block:
    - name: Update packages cache
      ansible.builtin.apt:
        update_cache: true

    - name: Install TPM support on Ubuntu
      ansible.builtin.apt:
        name:
          - tpm2-tools
          - tpm2-abrmd
        state: present
        update_cache: true

- name: TPM packages installation on RedHat
  when: ansible_distribution == 'Rocky'
  block:
    - name: Update packages cache
      ansible.builtin.dnf:
        update_cache: true

    - name: Install TPM support on RedHat
      ansible.builtin.dnf:
        name:
          - tpm2-tools
          - tpm2-abrmd
          - cryptsetup
        state: present
        update_cache: true

# - name: Check if tpm2-abrmd systemd service is enabled but stopped
#   ansible.builtin.systemd_service:
#     name: tpm2-abrmd
#     enabled: true
#     state: stopped
#     daemon_reload: true
