---
# tasks file for check cosmian vm
- name: Install prerequisites for testing
  ansible.builtin.package:
    name:
      - moreutils
      - jq
    state: present
  delegate_to: localhost
  become: true

- name: Read PCR-7 and PCR-10 before reboot
  ansible.builtin.shell:
    cmd: |
      set -x
      tpm2_pcrread sha256:7,10
  register: check_cosmian_vm_pcr_before
  changed_when: check_cosmian_vm_pcr_before.rc != 0
  tags: pcr_before_command

- name: Display PCR-7 and PCR-10 before reboot
  ansible.builtin.debug:
    var: check_cosmian_vm_pcr_before

- name: Reboot before anything to test boot of systemd services
  ansible.builtin.reboot:
    reboot_command: systemctl reboot
    connect_timeout: 3600
    reboot_timeout: 3600
  when: check_cosmian_vm_test_reboot

- name: Read PCR-7 and PCR-10 after reboot
  ansible.builtin.shell:
    cmd: |
      set -x
      tpm2_pcrread sha256:7,10
  register: check_cosmian_vm_pcr_after
  changed_when: check_cosmian_vm_pcr_after.rc != 0
  tags: pcr_after_command

- name: Display PCR-7 and PCR-10 after reboot
  ansible.builtin.debug:
    var: check_cosmian_vm_pcr_after

- name: Start Cosmian VM agent
  ansible.builtin.systemd_service:
    name: cosmian_vm_agent
    state: started
  when: not check_cosmian_vm_test_reboot

- name: Wait for certificate /var/lib/cosmian_vm/data/cert.pem
  ansible.builtin.wait_for:
    path: /var/lib/cosmian_vm/data/cert.pem
    state: present
    timeout: 600 # default is 300

- name: Display Cosmian VM Agent version
  ansible.builtin.debug:
    var: cosmian_vm_version

- name: Display remote host IP
  ansible.builtin.debug:
    var: inventory_hostname

- name: Before any check - LUKS dump
  ansible.builtin.command:
    cmd: |
      cryptsetup luksDump /var/lib/cosmian_vm/container
  register: check_cosmian_vm_cryptsetup_luks_dump
  changed_when: check_cosmian_vm_cryptsetup_luks_dump.rc != 0
  tags: check_cosmian_vm_cryptsetup_luks_dump

- name: Display LUKS dump
  ansible.builtin.debug:
    var: check_cosmian_vm_cryptsetup_luks_dump

- name: Before any check - Read Cosmian VM agent logs
  ansible.builtin.command:
    cmd: |
      journalctl -u mount_luks
  register: check_cosmian_vm_mount_luks_service_logs
  changed_when: check_cosmian_vm_mount_luks_service_logs.rc != 0
  tags: check_cosmian_vm_mount_luks_service_logs

- name: Before any check - Display Mount LUKS service logs
  ansible.builtin.debug:
    var: check_cosmian_vm_mount_luks_service_logs
  tags: check_cosmian_vm_mount_luks_service_logs

- name: Before any check - Read Cosmian VM agent logs
  ansible.builtin.command:
    cmd: |
      journalctl -u cosmian_vm_agent
  register: check_cosmian_vm_agent_logs
  changed_when: check_cosmian_vm_agent_logs.rc != 0
  tags: snapshot

- name: Before any check - Display Agent logs
  ansible.builtin.debug:
    var: check_cosmian_vm_agent_logs
  tags: snapshot

- name: Check if port 5555 is listening
  ansible.builtin.wait_for:
    port: 5555
    delay: 5
    timeout: 30
    msg: Timeout waiting for 5555 to respond
  tags:
    - listening
    - listening_cosmian_vm

- name: Check if Cosmian VM Agent is OK
  ansible.builtin.uri:
    url: https://localhost:5555/ima/ascii
    validate_certs: false
  tags: listening

- name: Wait for LUKS password generation
  ansible.builtin.wait_for:
    path: /var/lib/cosmian_vm/data/luks_password
    state: present

# - name: Read LUKS password
#   ansible.builtin.slurp:
#     src: /var/lib/cosmian_vm/data/luks_password
#   register: check_cosmian_vm_luks_password

# - name: Display LUKS password
#   ansible.builtin.debug:
#     var: "{{ check_cosmian_vm_luks_password['content'] | b64decode }}"

- name: Check if port 5555 is locally listening on {{ inventory_hostname }}
  ansible.builtin.wait_for:
    host: "{{ inventory_hostname }}"
    port: 5555
    delay: 5
    timeout: 60
    msg: Timeout waiting for 5555 to respond

- name: Check if port 5555 is listening on {{ inventory_hostname }}
  ansible.builtin.uri:
    url: https://{{ inventory_hostname }}:5555/ima/ascii
    validate_certs: false
  delegate_to: localhost
  become: false

- name: Clean potential existing Cosmian VM CLI and snapshot
  ansible.builtin.command:
    cmd: |
      rm -f ./cosmian_vm.snapshot
      rm -f ./cosmian_vm.new_snapshot
  delegate_to: localhost
  become: false
  register: check_cosmian_vm_cmd_output
  changed_when: check_cosmian_vm_cmd_output.rc != 0

- name: Cosmian VM snapshot
  ansible.builtin.command:
    cmd: |
      cosmian_vm --url https://{{ inventory_hostname }}:5555 --allow-insecure-tls snapshot
  register: check_cosmian_vm_cosmian_vm_output
  delegate_to: localhost
  become: false
  ignore_errors: true
  changed_when: check_cosmian_vm_cosmian_vm_output.rc != 0
  tags: snapshot

- name: Display CLI logs after snapshot
  ansible.builtin.debug:
    var: check_cosmian_vm_cosmian_vm_output
  tags: snapshot

- name: Read Cosmian VM agent logs
  ansible.builtin.command:
    cmd: |
      journalctl -u cosmian_vm_agent
  register: check_cosmian_vm_agent_logs
  changed_when: check_cosmian_vm_agent_logs.rc != 0
  tags: snapshot

- name: Display Agent logs
  ansible.builtin.debug:
    var: check_cosmian_vm_agent_logs
  tags: snapshot

- name: Read IMA
  ansible.builtin.command:
    cmd: |
      cat /sys/kernel/security/ima/ascii_runtime_measurements
  register: check_cosmian_vm_ima_before_reboot
  become: true
  become_user: root
  become_method: ansible.builtin.sudo
  changed_when: false
  tags: snapshot

- name: Print IMA to console
  ansible.builtin.debug:
    msg: "{{ check_cosmian_vm_ima_before_reboot.stdout }}"
  become: true
  become_user: root
  become_method: ansible.builtin.sudo
  changed_when: false
  tags: snapshot

- name: Fail if Cosmian snapshot has failed previously
  ansible.builtin.fail:
    msg: Cosmian snapshot failed with return code {{ check_cosmian_vm_cosmian_vm_output }}
  when:
    - check_cosmian_vm_cosmian_vm_output is defined
    - check_cosmian_vm_cosmian_vm_output.rc is defined
    - check_cosmian_vm_cosmian_vm_output.rc != 0
  tags: snapshot

- name: Reboot after snapshot
  when: check_cosmian_vm_test_reboot
  block:
    - name: Reboot after snapshot
      ansible.builtin.reboot:
        reboot_command: systemctl reboot
        connect_timeout: 3600
        reboot_timeout: 3600

    - name: Wait for certificate /var/lib/cosmian_vm/data/cert.pem
      ansible.builtin.wait_for:
        path: /var/lib/cosmian_vm/data/cert.pem
        state: present
        timeout: 600 # default is 300

    - name: Check if port 5555 is listening
      ansible.builtin.wait_for:
        host: "{{ inventory_hostname }}"
        port: 5555
        delay: 5
        timeout: 60
        msg: Timeout waiting for 5555 to respond
      delegate_to: localhost

    - name: Read current reset count from snapshot
      ansible.builtin.shell:
        cmd: |
          set -exo pipefail
          RESET_COUNT=$(jq '.tpm_policy.reset_count' cosmian_vm.snapshot)
          NEW_RESET_COUNT=$((RESET_COUNT + 1))
          jq --arg NEW_RESET_COUNT "$NEW_RESET_COUNT" '.tpm_policy.reset_count = $NEW_RESET_COUNT' cosmian_vm.snapshot >cosmian_vm.new_snapshot
          jq '.tpm_policy.reset_count |= tonumber' cosmian_vm.new_snapshot | sponge cosmian_vm.new_snapshot
        executable: /bin/bash
      delegate_to: localhost
      become: false
      register: check_cosmian_vm_sponge
      changed_when: check_cosmian_vm_sponge.rc != 0
      tags: check_cosmian_vm_sponge

    - name: Verify Cosmian VM snapshot
      ansible.builtin.command:
        cmd: |
          cosmian_vm --url https://{{ inventory_hostname }}:5555 --allow-insecure-tls verify --snapshot cosmian_vm.new_snapshot
      register: check_cosmian_vm_verify_cosmian_vm_output
      delegate_to: localhost
      become: false
      ignore_errors: true
      tags: verify
      changed_when: check_cosmian_vm_verify_cosmian_vm_output.rc != 0

    - name: Display CLI logs after verify snapshot
      ansible.builtin.debug:
        var: check_cosmian_vm_verify_cosmian_vm_output
      tags: verify

    - name: Read Cosmian VM agent logs
      ansible.builtin.command:
        cmd: |
          journalctl -u cosmian_vm_agent
      register: check_cosmian_vm_agent_logs
      changed_when: check_cosmian_vm_agent_logs.rc != 0
      tags: verify

    - name: Display Agent logs
      ansible.builtin.debug:
        var: check_cosmian_vm_agent_logs
      tags: verify

    - name: Read IMA if verification failed
      ansible.builtin.command:
        cmd: |
          cat /sys/kernel/security/ima/ascii_runtime_measurements
      register: check_cosmian_vm_ima_after_reboot
      become: true
      become_user: root
      become_method: ansible.builtin.sudo
      changed_when: false
      tags: verify

    - name: Print IMA to console
      ansible.builtin.debug:
        msg: "{{ check_cosmian_vm_ima_after_reboot.stdout }}"
      become: true
      become_user: root
      become_method: ansible.builtin.sudo
      when:
        - check_cosmian_vm_verify_cosmian_vm_output is defined
        - check_cosmian_vm_verify_cosmian_vm_output.rc is defined
        - check_cosmian_vm_verify_cosmian_vm_output.rc != 0
      changed_when: false
      tags: verify

    - name: Fail if Cosmian snapshot verification has failed previously
      ansible.builtin.fail:
        msg: Cosmian snapshot verification failed with return code {{ check_cosmian_vm_verify_cosmian_vm_output }}
      when:
        - check_cosmian_vm_verify_cosmian_vm_output is defined
        - check_cosmian_vm_verify_cosmian_vm_output.rc is defined
        - check_cosmian_vm_verify_cosmian_vm_output.rc != 0
      tags: verify

- name: Verify Cosmian VM snapshot - no reboot
  when: not check_cosmian_vm_test_reboot
  block:
    - name: Verify Cosmian VM snapshot -no reboot
      ansible.builtin.command:
        cmd: |
          cosmian_vm --url https://{{ inventory_hostname }}:5555 --allow-insecure-tls verify --snapshot cosmian_vm.snapshot
      register: check_cosmian_vm_verify_cosmian_vm_output
      delegate_to: localhost
      become: false
      ignore_errors: true
      tags: verify
      changed_when: check_cosmian_vm_verify_cosmian_vm_output.rc != 0

    - name: Display CLI logs after verify snapshot
      ansible.builtin.debug:
        var: check_cosmian_vm_verify_cosmian_vm_output
      tags: verify

    - name: Read Cosmian VM agent logs
      ansible.builtin.command:
        cmd: |
          journalctl -u cosmian_vm_agent
      register: check_cosmian_vm_agent_logs
      changed_when: check_cosmian_vm_agent_logs.rc != 0
      tags: verify

    - name: Display Agent logs
      ansible.builtin.debug:
        var: check_cosmian_vm_agent_logs
      tags: verify

    - name: Fail if Cosmian snapshot verification has failed previously
      ansible.builtin.fail:
        msg: Cosmian snapshot verification failed with return code {{ check_cosmian_vm_verify_cosmian_vm_output }}
      when:
        - check_cosmian_vm_verify_cosmian_vm_output is defined
        - check_cosmian_vm_verify_cosmian_vm_output.rc is defined
        - check_cosmian_vm_verify_cosmian_vm_output.rc != 0
      tags: verify

- name: Clean Cosmian VM CLI and snapshot
  ansible.builtin.command:
    cmd: |
      rm -f ./cosmian_vm.snapshot
      rm -f ./cosmian_vm.new_snapshot
  delegate_to: localhost
  become: false
  register: check_cosmian_vm_cmd_output
  changed_when: check_cosmian_vm_cmd_output.rc != 0
