[Unit]
Description=Cosmian KMS
Requires=multi-user.target cosmian_vm_agent.service
After=multi-user.target cosmian_vm_agent.service

[Service]
Type=simple
User=root
ExecStart=/usr/sbin/cosmian_kms
Restart=on-failure
RestartSec=3s
Environment="COSMIAN_KMS_CONF=/var/lib/cosmian_vm/data/app.conf"
Environment="OPENSSL_CONF=/usr/local/cosmian/lib/ssl/openssl.cnf"
Environment="OPENSSL_MODULES=/usr/local/cosmian/lib/ossl-modules"
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target