---
- name: Clean previous install of Cosmian VM Agent
  hosts: all
  become: true
  roles:
    - check_etc_group
    - check_cpu
    - cleanup_cosmian_vm_agent
  tags: cleanup-cosmian-vm-agent

- name: Install base image prerequisites
  ansible.builtin.import_playbook: base-image-packer-playbook.yml
  tags: playbook-base-image

- name: Install Cosmian VM Agent
  ansible.builtin.import_playbook: cosmian-vm-packer-playbook.yml
  tags: playbook-cosmian-vm

- name: Check Cosmian VM
  hosts: all
  become: true
  environment:
    RUST_LOG: "cosmian_vm=trace"
  roles:
    - role: cosmian_vm
      delegate_to: localhost
      tags:
        - role-cosmian-vm
        - check-cosmian-vm
    - role: check_etc_group
      tags: check-etc-group
    - role: check_cosmian_vm
      tags: check-cosmian-vm
