[agent]
host = "0.0.0.0"
port = 5555
ssl_certificate = "data/cert.pem"
ssl_private_key = "data/key.pem"
tpm_device = "/dev/tpmrm0"

[app]
service_type = "systemd"
service_name = "cosmian_ai_runner"
app_storage = "data/app"
