{
    "hf_token": "hf_token",
    "documentary_bases": [
    {
      "name": "Litterature",
      "persist_path": "rag_store_litterature",
      "model": "google/flan-t5-large",
      "task": "text2text-generation",
      "kwargs": {
        "max_new_tokens": 500
      }
    },
    {
      "name": "Science",
      "persist_path": "rag_store_science",
      "model": "google/flan-t5-large",
      "task": "text2text-generation",
      "kwargs": {
        "max_new_tokens": 500
      }
    }
  ]
}
