[Unit]
Description=Cosmian AI Runner
Requires=multi-user.target cosmian_vm_agent.service
After=multi-user.target cosmian_vm_agent.service

[Service]
Type=simple
User=root
ExecStart=/opt/venv/cosmian-ai-runner/bin/python3 -B /opt/venv/cosmian-ai-runner/bin/cosmian_ai_runner -p 5001
WorkingDirectory=/opt/venv/cosmian-ai-runner/
Restart=on-failure
RestartSec=3s
Environment="CONFIG_PATH=/var/lib/cosmian_vm/data/app/app.conf"
Environment="LD_LIBRARY_PATH=/usr/local/lib"

[Install]
WantedBy=multi-user.target
