---
name: Cargo build all

on: workflow_call

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        distrib: [ubuntu-24.04]
    name: Build ${{ matrix.distrib }}
    secrets: inherit
    uses: ./.github/workflows/build.yml
    with:
      distrib: ${{ matrix.distrib }}

  cargo-deny:
    name: Security Audit
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: EmbarkStudios/cargo-deny-action@v2

  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.9.2
        with:
          setup_python: 'true'
          working_directory: ./ansible
          requirements_file: requirements.yml
