---
name: Cargo build and check

on:
  workflow_call:
    inputs:
      distrib:
        required: true
        type: string

jobs:
  check:
    name: (${{ inputs.distrib }}) Rust Check
    runs-on: ${{ inputs.distrib }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fix permissions
        run: |
          sudo chown -R $USER /lib/x86_64-linux-gnu/

      - name: Cache dependencies
        id: cargo-cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ inputs.distrib }}-${{ github.ref_name }}
          cache-directories: |
            - /usr/lib/x86_64-linux-gnu/libtdx_attest.so.1.24.100.2

      - name: Install dependencies
        if: steps.cargo-cache.outputs.cache-hit != 'true'
        run: |
          sudo curl -fsSLo /usr/share/keyrings/intel-sgx-deb.asc https://download.01.org/intel-sgx/sgx_repo/ubuntu/intel-sgx-deb.key
          echo "deb [arch=amd64 signed-by=/usr/share/keyrings/intel-sgx-deb.asc] https://download.01.org/intel-sgx/sgx_repo/ubuntu jammy main" | sudo tee /etc/apt/sources.list.d/intel-sgx.list
          sudo apt-get update && sudo apt-get install -y tpm2-tools libtss2-dev libtdx-attest-dev

      - name: Install Rust toolchain and components
        if: steps.cargo-cache.outputs.cache-hit != 'true'
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Cargo install cargo-machete
        if: steps.cargo-cache.outputs.cache-hit != 'true'
        run: cargo install cargo-machete

      - name: Cargo fmt
        if: steps.cargo-cache.outputs.cache-hit != 'true'
        run: cargo fmt --all -- --check

      - name: Cargo check
        if: steps.cargo-cache.outputs.cache-hit != 'true'
        run: cargo check

      - name: Clippy
        if: steps.cargo-cache.outputs.cache-hit != 'true'
        run: cargo clippy -- -D warnings

      - name: Machete (deps checker)
        if: steps.cargo-cache.outputs.cache-hit != 'true'
        run: cargo machete

      - name: Cargo test
        if: steps.cargo-cache.outputs.cache-hit != 'true'
        run: cargo test

      - name: Cargo build
        if: steps.cargo-cache.outputs.cache-hit != 'true'
        run: cargo build --release

      - name: Build Debian and RPM packages
        if: steps.cargo-cache.outputs.cache-hit != 'true'
        run: |
          rm -rf target/debian
          rm -rf target/generate-rpm
          cargo install --version 0.14.1 cargo-generate-rpm --force
          cargo install --version 2.4.0 cargo-deb --force
          if [[ ${{ inputs.distrib }} = *'22'* ]]; then
            cargo deb -p cosmian_vm
            cargo deb -p cosmian_vm_agent
            cargo generate-rpm -p crate/cli
            cargo generate-rpm -p crate/agent --metadata-overwrite=pkg/rpm/scriptlets.toml
          else
            cargo deb -p cosmian_vm
            cargo deb -p cosmian_vm_agent
          fi

      - name: Upload artifacts
        if: steps.cargo-cache.outputs.cache-hit != 'true'
        uses: actions/upload-artifact@v4
        with:
          name: cosmian_vm_${{ inputs.distrib }}
          path: |
            CHANGELOG.md
            target/generate-rpm/cosmian_vm_agent-*
            target/generate-rpm/cosmian_vm-*
            target/debian/cosmian-vm-agent_*
            target/debian/cosmian-vm_*
            target/release/cosmian_vm
            target/release/cosmian_vm_agent
            target/release/cosmian_certtool
            /usr/lib/x86_64-linux-gnu/libtdx_attest.so.1.24.100.2
          retention-days: 1
          if-no-files-found: error

    outputs:
      cache-hit: ${{ steps.cargo-cache.outputs.cache-hit }}

  push:
    needs: check
    if: needs.check.outputs.cache-hit != 'true'
    name: (${{ inputs.distrib }}) package.cosmian.com
    runs-on: [self-hosted, no-tee]
    container:
      image: cosmian/docker_doc_ci
      volumes:
        - /home/cosmian/.ssh/id_rsa:/root/.ssh/id_rsa
    steps:
      - name: Clean runner
        run: rm -rf cosmian_vm_ubuntu* target home .git .ansible .crate .resources

      - name: Checkout
        uses: actions/checkout@v4

      - name: Download binaries
        uses: actions/download-artifact@v4

      - name: Display artifacts content
        run: find .

      - name: Push latest build to package.cosmian.com
        env:
          DISTRIB: ${{ inputs.distrib }}
        run: |
          bash .github/scripts/push_packages.sh
