---
name: Clean GCP resources

on:
  workflow_call:

jobs:
  clean-gcp-resources:
    name: Clean CI GCP resources
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: GCP auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_COSMIAN_DEV_CREDENTIALS }}

      - name: Delete any existing CI GCP resources
        run: |
          bash .github/scripts/gcp-delete-ci-resources.sh
