---
name: Release all

on:
  push:
    # any tags, including tags with / like v1.0/alpha
    tags:
      - '**'
  # schedule:
  #   # every day at 0 AM
  #   - cron: 00 1 * * *
  workflow_dispatch:

jobs:
  cleanup: # we remove the Github cache to avoid any conflict
    name: Clean Github cache
    uses: Cosmian/reusable_workflows/.github/workflows/cleanup_cache.yml@main
    secrets: inherit

  build-cosmian-vm-binaries:
    needs: cleanup
    name: Build binaries
    uses: ./.github/workflows/build_all.yml

  azure:
    needs: build-cosmian-vm-binaries
    uses: ./.github/workflows/release_azure_main.yml
    with:
      base-version: 0.1.15
      kms-version: 5.11.1
      ai-runner-version: 1.0.1
    secrets: inherit

  gcp:
    needs: build-cosmian-vm-binaries
    uses: ./.github/workflows/release_gcp_main.yml
    with:
      base-version: 0.1.15
      kms-version: 5.11.1
      ai-runner-version: 1.0.1
    secrets: inherit

  aws:
    needs: build-cosmian-vm-binaries
    uses: ./.github/workflows/release_aws_main.yml
    with:
      base-version: 0.1.15
      kms-version: 5.11.1
      ai-runner-version: 1.0.1
    secrets: inherit

  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/')
    secrets: inherit
    uses: ./.github/workflows/github_release.yml

  public_documentation:
    if: github.repository == 'Cosmian/cosmian_vm' && !startsWith(github.ref_name, 'dependabot/')
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Deploy documentation in staging
        if: ${{ github.ref_name == 'main' }}
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: staging.yml
          repo: Cosmian/public_documentation
          ref: develop
          token: ${{ secrets.PAT_TOKEN }}

      - name: Deploy documentation in prod
        if: startsWith(github.ref, 'refs/tags')
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: prod.yml
          repo: Cosmian/public_documentation
          ref: main
          token: ${{ secrets.PAT_TOKEN }}